.container-home {
    padding: 20px 50px;
    height: 600px;
    background-color: aliceblue;
}

.container-about {
    padding: 0px 60px;
    
}

.title-center {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}


.profile {
    background-color: aliceblue;
    opacity: 1;
    padding: 360px 330px ;
    margin: 20px 750px;
    border-radius: 10px;
}

.title {
    font-weight: bold;
    font-family: "Helvetica";
}

.list-design {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: flex-start;
    padding: 30px 0px 0px 0px;
    grid-gap: 10px;
    font-size: 20px;
    font-family: 'Helvetica';
}

.list-design2 {
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-start;
    padding: 0 0;
    grid-gap: 40px;
}

.list-design-para {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: flex-start;
    padding: 15px 725px 0px 0px;
    grid-gap: 20px;
    font-size: 15px;
    font-size: 17px;
}

.xline {
    list-style: none;
    text-decoration: none;
    display: flex;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    padding: 10px 150px;
    grid-gap: 60px;
}

.yline {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: flex-start;
    padding: 30px 0px 0px 0px;
    grid-gap: 10px;
    font-size: 20px;
}

.xline2 {
    list-style: none;
    text-decoration: none;
    display: flex;
    grid-template-columns: repeat(4, auto);
    justify-content: flex-start;
    padding: 15px 180px;
    grid-gap: 20px;

}

.yline2 {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: flex-start;
}

.txtbox1 {
    opacity: 1;
    width: 550px;
    height: 410px;
    border-radius: 10px;
    position: relative;
}

.txtbox2 {
    opacity: 1;
    width: 550px;
    height: 410px;
    border-radius: 10px;
    position: relative;
}

.txtbox1 img{
    transition: margin 0.2s ease-in-out;
}

.txtbox1 img:hover{
    margin-top: -5px;
}

.txtbox2 img{
    transition: margin 0.2s ease-in-out;
}

.txtbox2 img:hover{
    margin-top: -5px;
}


.txtboxV2 {
    box-shadow: 0px 0px 20px 2px #eeeeee;
    opacity: 1;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    transition: margin 0.2s ease-in-out;
}

.txtboxV2:hover {
    margin-top: -5px;
}

 .cursor {
    background: #1a8cff;
    animation: blink 0.9s infinite;
    width: 2px;
    height: 40px;
}
  
@keyframes blink {
    0% {background: aliceblue}
    50% {background: #1a8cff}
    100% {background: aliceblue}
}

.text-zone {
    position: absolute;
    margin-left: 200px;
    margin-top: 80px;
    padding-bottom: 200;
}

.text-zone2 {
    position: absolute;
    left: 10;
    top: 10%;
}

.button-container {
    padding: 30px 0px 30px 0px;
}

.flat-button {
    text-align: center;
    text-decoration: none;
    color: white
}