.navbarItems {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 40px;
}

.navMenu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    grid-gap: 30px;
    padding: 15px 0px 0px 0px;
}

.nav-links {
    text-decoration: none;
    color: black;
}

.nav-links-unique {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.nav-links-unique:hover {
    text-decoration: none;
    color: black;
}


.nav-links:hover {
    color: gray;
}

.header {
    text-decoration: none;
    color: black;
}
