.center {
    font-family: sans-serif;
}

.bottom-bar {
    background: aliceblue;
    /* position: fixed; */
    bottom: 0;
    height: 80px;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}